@import url(./cdj.less);
.container {
  width: 80%;
  margin: 0 auto;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
@ts: .5s linear; // 小球和背景的运动时间
// 两黄色小块
.bg {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #facc20;
  top: 0;
  visibility: hidden;
  .ts(@ts);
  &.ac {
    visibility: visible;
  }
}
#bg1 {
  left: 0;
  &.lift {
    .tf(translateX(-100%));
  }
}
#bg2 {
  right: 0;
  &.lift {
    .tf(translateX(100%));
  }
}
#ball {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #facc20;
  border-radius: 50%;
  font-size: 20px;
  color: #d3272d;
  line-height: 80px;
  text-align: center;
  .ts(@ts);
  &.ac {
    .tf(scale(50));
  }
}

#swiper-box {
  .ts(.4s linear);
  &.page0 {
    .tf(translateY(0));
  }
  &.page1 {
    .tf(translateY(-100vh));
  }
  &.page2 {
    .tf(translateY(-200vh));
  }
  &.page3 {
    .tf(translateY(-300vh));
  }
  &.page4 {
    .tf(translateY(-400vh));
  }
}
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #45c9ff;
}
// 人物
.manBox {
  position: absolute;
  width: 192px;
  height: 200px;
  .ts(0.4s);
}
.man {
  width: 100%;
  height: 100%;
  background: url('../img/man.png') no-repeat;
  &.bp1 {
    background-position: 0 0;
  }
  &.bp2 {
    background-position: 0 -200px;
  }
  &.bp3 {
    background-position: 0 -400px;
  }
  &.bp4 {
    background-position: 0 -600px;
  }
  &.bp5 {
    background-position: 0 -800px;
  }
  &.bp6 {
    background-position: 0 -1000px;
  }
  &.bp7 {
    background-position: 0 -1200px;
  }
  &.bp8 {
    background-position: 0 -1400px;
  }
  &.bp9 {
    background-position: 0 -1600px;
  }
}
.dialogBox {
  position: absolute;
  min-height: 50px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  .origin(bottom);
  opacity: 0;
  .ts(0.4s cubic-bezier(.14,1.85,.85,1));
  .tf(scale(0));
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  &.ac {
    opacity: 1;
    .tf(scale(1));
  }
  p {
    font-family: "微软雅黑";
    font-weight: 800;
    zoom: 1;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .cursor {
    position: absolute;
    width: 2px;
    background-color: #000;
  }
}

.sun {
  position: absolute;
  left: 90%;
  top: 20px;
  width: 140px;
  height: 140px;
  background-image: url(../img/globel.png);
  background-position: 0 -124px;
  .ts(1s linear);
  .tf(translateY(100vh));
  &.ac {
    .tf(translateY(0));
  }
}

// 云
.cloudMove(@arguments) {
    animation: cloud @arguments linear infinite;
    -webkit-animation: cloud @arguments linear infinite;
}
.cloud {
  position: absolute;
  height: 62px;
  left: -200px;
  background-image: url(../img/globel.png);
}
.cloud1 {
  width: 110px;
  top: 10px;
  .cloudMove(5s);
}
.cloud2 {
  width: 168px;
  top: 23px;
  background-position: -110px 0;
  .cloudMove(10s 2s);
}
.cloud3 {
  width: 99px;
  top: 36px;
  background-position: 0 -62px;
  .cloudMove(15s 5s);
}
.cloud4 {
  width: 110px;
  top: 2px;
  .cloudMove(20s 8s);
}
.cloud5 {
  width: 168px;
  top: 33px;
  background-position: -110px 0;
  .cloudMove(25s 4s);
}

// 鸟
.birdMove {
    animation: bird 20s linear infinite;
    -webkit-animation: bird 20s linear infinite;
}
//小鸟
.bird {
  position: absolute;
  left: 100%;
  top: 40px;
  .birdMove;
}

@lh: 40px;
@c: #d3272d;
.header-box {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 200;
}
.logo {
  float: left;
  width: 160px;
  height: 58px;
  position: relative;
  top: -10px;
  text-indent: -9999px;
  font-size: 10px;
  background-image: url(../img/globel.png);
  background-position: -110px -63px;
  .ts(1s);
  .tf(translateX(2000px));
  &.ac {
    .tf(translateX(0));
  }
}
#nav-ul {
  float: right;
  overflow: hidden;
  font-size: 1.3rem;
}
.nav-list {
  float: left;
  position: relative;
  padding: 0 2rem;
  vertical-align: middle;
  &:nth-of-type(1) a {
    .ts(0.5s 200ms);
  }
  &:nth-of-type(2) a {
    .ts(0.5s 400ms);
  }
  &:nth-of-type(3) a {
    .ts(0.5s 600ms);
  }
  &:nth-of-type(4) a {
    .ts(0.5s 800ms);
  }
  &:nth-of-type(5) a {
    .ts(0.5s 1000ms);
  }
  a {
    display: inline-block;
    position: relative;
    height: @lh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 100000px;
    -webkit-perspective: 100000px;
    opacity: 0;
    .origin(-@lh);
    .tf(translateY(-40px));
    &.ac {
      opacity: 1;
      .tf(translateY(0));
    }
    &:hover .span1, &.hover .span1 {
      .tf(rotateX(90deg));
    }
    &:hover .span2, &.hover .span2 {
      .tf(rotateX(0));
    }
  }
  span {
    float: left;
    line-height: @lh;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    .ts(0.5s);
    .origin(center center -@lh/2);
  }
  .span2 {
    position: absolute;
    left: 0;
    .tf(rotateX(-90deg));
    color: @c;
  }
}
#nav-btn {
  float: right;
  width: 30px;
  height: 20px;
  background-color: #000;
  padding: 10px;
  box-sizing: inherit;
  display: none;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  i {
    display: block;
    height: 2px;
    background-color: #fff;
    .origin(left);
    .ts(0.5s);
  }
  #icon-bar2 {
    margin: 7px 0;
  }
  &.active #icon-bar1 {
    .tf(rotate(36deg));
  }
  &.active #icon-bar2 {
    .tf(scale(0));
  }
  &.active #icon-bar3 {
    .tf(rotate(-36deg));
  }
}